{% extends 'hazaDashboardBundle:Layout:base.html.twig' %}


{% form_theme form _self %}

{% block field_row %}
{% spaceless %}
    {% set class='' %}
    {% if attr.class is defined %}
    {% set class = 'class="' ~ attr.class ~ '"' %}
    {% endif %}

    <div {{ class }} class="pure-control-group">
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock field_row %}


{% block title %}Admin / Add{% endblock %}

{% block content %}
    <header>
        <h1>Add a Category</h1>
    </header>

    {% if app.session.hasFlash('dashboard-notice') %}
        <div class="bookmark-notice">
            {{ app.session.flash('dashboard-notice') }}
        </div>
    {% endif %}

    <form action="{{ path('haza_dashboard_adminAddCategory') }}" method="post" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.title) }}

            {{ form_rest(form) }}
            <div class="pure-controls">
                <input type="submit" value="Submit" class="pure-button" />
            </div>
        </fieldset>
    </form>
{% endblock %}
